@import '../../../_common/styles/b970x250.scss';




.playa{
	clip-path: polygon(398px 162px, 450px 250px, 650px 250px, 650px 0px, 0px 0px );
	@include pos(0, 0);
	width: 728px;
	height: 90px;
	img{
		@include pos-scale(0, 0, .5);
	}
}


.tint{
	width: 100%;
	height: 100%;
	background-color: black;
	// opacity: .8;
	@include pos(0, 0);
}