@import '../../../_common/styles/b160x600.scss';


.tint{	
	opacity:.46;	
	mix-blend-mode: hard-light;

}
.absolute {
	position: absolute;
	top:0;
	left:0;
}

.frame2{
	// opacity:1;
}


.hand-screen{
	.end-screen{
		opacity:0;
	}	
}
